xml/raw/x86/AMD/SSE5_Rules.dtd

<?xml version="1.0" encoding="ASCII"?>
<!-- XOP Rules -->

<!ELEMENT instrs (common+)>
<!ELEMENT common (brief,dscrp,ins+)>
<!ELEMENT ins (mnem,args,opc)>

<!ELEMENT brief (#PCDATA)>
<!ELEMENT dscrp (#PCDATA)>
<!ELEMENT mnem (#PCDATA)>
<!ELEMENT args (#PCDATA)>
<!ELEMENT opc (#PCDATA)>




<!ATTLIST instrs version CDATA #REQUIRED>